<section class="no-padding" id="galleri">
    <div class="container-fluid">
        <div class="row no-gutter">
            {% for ii in (0..3) %}
                {% assign io = ii | plus: include.offset %}
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/gallery/{{ io }}.jpg" class="img-responsive" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
