<section id="var">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">O.S.A. senast 12:e Juli</h2>
                <hr class="primary">
                <p class="text-faded">Du är hjärtligt välkomna med familj - ta gärna med barnen.</p>
                <p class="text-faded">För att kunna planera mat och dryck så behöver vi veta vilka som kommer. Svara med <a href="#">formuläret här</a>.</p>
                <a href="#var" class="btn btn-default btn-xl">Var?</a>
            </div>
        </div>
    </div>
</section>
