<section id="hur">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">O.S.A. senast 19:e Juli</h2>
                <hr class="primary">
                <p>Du är hjärtligt välkomna med familj - ta gärna med barnen.</p>
                <p>För att kunna planera mat och dryck så behöver vi veta vilka som kommer. Svara med <a href="https://forms.gle/NofQdzGyG8AL2rP2A">formuläret här</a>.</p>
                <a href="#kontakt" class="btn btn-primary btn-xl page-scroll">Frågor på det?</a>
            </div>
        </div>
    </div>
</section>
