<section id="kontakt">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Undrar du över något?</h2>
                <hr class="primary">
                <p>Ring oss gärna eller skicka ett mail. Du hittar våra kontaktuppgifter nedan.</p>
            </div>
        <div class="col-lg-3 col-lg-offset-3 text-center">
            <p><b>Åsa</b><br />
            <a href="mailto:asathelin@gmail.com">asathelin@gmail.com</a><br />
            +46(0)739314150</p>
        </div>
        <div class="col-lg-3 col-lg-offset-1 text-center">
            <p><b>Johan</b><br />
            <a href="mailto:e8johan@gmail.com">e8johan@gmail.com</a><br />
            +46(0)700900250</p>
        </div>
    </div>
</section>
