<section class="bg-primary" id="nar">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Vi träffas den 2:a Augusti</h2>
                <hr class="light">
                <p class="text-faded">Vi träffas för fest den 2:a Augusti klockan 18.00.</p>
                <a href="#var" class="btn btn-default btn-xl page-scroll">Var då?</a>
            </div>
        </div>
    </div>
</section>
