<section id="var">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Vi återkommer!</h2>
                <hr class="primary">
                <p>Vi återkommer om exakt lokal. Vi kommer att vara i närheten av Alingsås och det kommer att gå att ta sig till och från lokalen utan egen bil.</p>
                <a href="#hur" class="btn btn-primary btn-xl page-scroll">Hur då?</a>
            </div>
        </div>
    </div>
</section>
